/* Index */

#fondo_top{
	background-image: url("../imagen/fondo-paisaje.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_sobre_mi{
	background-image: url("../imagen/fondo-desk.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_portafolio{
	background-image: url("../imagen/fondo-computer.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#fondo_contacto{
	background-image: url("../imagen/fondo-agustin.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

#portada{
	background-color: #949BA8; 
	background-size: 100px;
}

.titulo{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.contenido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pie{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/* Portafolio */

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Formulario de Contacto */

.form-label{
	font-weight: bold;
	text-align: left;
}


