/* Index */

.titulo{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.contenido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pie{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/* Portafolio */

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Formulario de Contacto */

.form-label{
	font-weight: bold;
	text-align: left;
}

.formulario-inicio-registro{
	
}


