/* Index */

.titulo{
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.contenido{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.pie{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
}

/* Nosotros */

#background1{
	background-image: url("../imagen/background1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
}

/* Formulario de Contacto */

.form-label{
	font-weight: bold;
	text-align: left;
}

/* Formularios de Inicio y Registro */

.formulario-registro-inicio {
	margin: auto;
  position: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 50%; 
  height: 50%;
  min-width: 500px;
  max-width: 500px;
  padding: 40px;
}


